* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-dark-color: #332f2c;
  --main-light-color: #f4eee4;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--main-light-color);
  font-family: 'Roboto', sans-serif;
}

.main {
  text-align: center;
  padding-top: 60rem;
  margin-bottom: 40rem;
  background-color: var(--main-dark-color);
}

.main .heading {
  font-weight: 500;
  font-size: 4rem;
}

.main .subheading {
  font-family: "Ayuthaya";
  font-size: 2.5rem;
}

.info {
  color: var(--main-light-color);
}

.media {
  margin-top: 5rem;
  animation: 3s out;
  padding-bottom: 47rem;
}

.contact {
  display: inline-block;
  margin-left: 3rem;
}

.media p,
.media img {
  margin-bottom: 2rem;
}

.info .heading {
  animation: 1s slideInLeft;
}

.info .subheading {
  animation: 1s slideInRight;
}

.download-button {
  padding-top: 5rem;
}

.button-cv {
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem 3rem;
  border-radius: 1rem;
  border-style: none;
  background-color: transparent;
  border: 2px solid var(--main-light-color);
  color: white;
  cursor: pointer;
}

.button-cv:hover {
  color: black;
  background-color: var(--main-light-color);
  border: 3px solid var(--main-light-color);
}

/* Grip */

.skills {
  display: none;
  margin-bottom: 40rem;
}

.skills-animation {
  display: block;
}

.skills img {
  justify-content: center;
}

.skills h2 {
  display: none;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.projects h2 {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

#text-path {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.skills-grip {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(3, 20rem);
  column-gap: 5rem;
  row-gap: 10rem;
  justify-content: center;
}

.grip-logo img {
  padding-bottom: 2rem;
  transition: all 1s;
}

.grip-logo img:hover {
  transform: scale(1.1);
}

.skills-icons {
  width: 20rem;
}

#js-icon {
  width: 18rem;
}

/* Projects */
.projects {
  display: none;
}

.projects-text {
  font-size: 20px;
  margin-top: 10px;
}

.projects-animation {
  display: block;
}

.projects-grip {
  display: grid;
  margin-top: 10rem;
  margin-bottom: 10rem;
  grid-template-columns: repeat(3, 23rem);
  column-gap: 5rem;
  row-gap: 10rem;
  justify-content: center;
}

.grip-thumbnail {
  text-align: center;
}

.grip-thumbnail a img {
  border-radius: 20rem;
  transition: all 0.5s;
}

.grip-thumbnail img:hover {
  box-shadow: 2px 2px 50px black;
}

/* Media queries */
@media (max-width: 1080px) {
  .skills h2{
    display: block;
  }
  #text-path {
    display: none;
  }
}

@media (max-width: 790px) {
  .projects-grip {
    grid-template-columns: 23rem;
  }
}

@media (max-width: 700px) {
  .skills-grip {
    grid-template-columns: repeat(2, 20rem);
  }
}

@media (max-width: 520px) {
  .skills-grip {
    grid-template-columns: 20rem;
  }
}

@media (max-width: 500px) {
  .info .heading {
    font-size: 3.5rem;
  }
  .info .subheading {
    font-size: 2rem;
  }
  .main {
    padding-top: 30rem;
    margin-bottom: 20rem;
  }
  .skills {
    margin-bottom: 20rem;
  }
}

/* Animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes out {
  from {
    opacity: 0;
  }
  to {
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(100rem);
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}