* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #F4EEE4;
    font-family: "Futura", "Ayuthaya";
}

.main {
    text-align: center;
    padding-top: 60rem;
    margin-bottom: 40rem;
    background-color: #332F2C;
}

.main .heading {
    font-weight: 500;
    font-size: 4rem;
}

.main .subheading {
    font-family: "Ayuthaya";
    font-size: 2.5rem;
}

.info {
    color: #F4EEE4;
}

.media {
    margin-top: 5rem;
    animation: 3s out;
    padding-bottom: 47rem;
}

.contact {
    display: inline-block;
    margin-left: 3rem;
}

.media p, .media img{
    margin-bottom: 2rem;
}

.info .heading {
    animation: 1s slideInLeft;
}

.info .subheading {
    animation: 1s slideInRight;
}

/* Grip */

.skills {
    margin-bottom: 40rem;
    animation: 7s bottomToTop;
}

.skills img{
    justify-content: center;
}

.skills h2, .projects h2 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.skills-grip {
    display: grid;
    margin-top: 10rem;
    grid-template-columns: 20rem 20rem 20rem;
    column-gap: 5rem;
    row-gap: 10rem;
    justify-content: center;
}

.grip-logo img {
    padding-bottom: 2rem;
    transition: all 1s;
}

.grip-logo img:hover {
    transform: scale(1.1);
}

.skills-icons {
    width: 20rem;
}

#js-icon{
    width: 18rem;
}

/* Projects */
.projects-grip {
    display: grid;
    margin-top: 10rem;
    margin-bottom: 10rem;
    grid-template-columns: 20rem 20rem 20rem;
    column-gap: 5rem;
    row-gap: 10rem;
    justify-content: center;
}

.grip-thumbnail {
    text-align: center;
}

.grip-thumbnail a img {
    border-radius: 20rem;
    transition: all 0.5s;
}

.grip-thumbnail img:hover {
    box-shadow: 2px 2px 50px black;
}

/* Media queries */

@media (max-width:790px) {
    .projects-grip {
        grid-template-columns: 50rem;
    }
}

@media (max-width:700px) {
    .skills-grip {
        grid-template-columns: 19rem 19rem;
    }
}

@media (max-width:520px) {
    .skills-grip {
        grid-template-columns: 19rem;
    }
}

/* Animations */

@keyframes slideInLeft {
    from {
        transform: translateX(-10rem);
        opacity: 0;
    }
    to {transform: translateX(0);}
}

@keyframes slideInRight {
    from {
        transform: translateX(10rem);
        opacity: 0;
    }
    to {transform: translateX(0);}
}

@keyframes out {
    from {opacity: 0;}
    to {}
}

@keyframes bottomToTop {
    from {
        transform: translateY(100rem);
        opacity: 0;
    }
    to {transform: translateY(0);}
}